<header class="app-header" [class.header-hidden]="!isHeaderVisible">
  <div class="left-section">
    <a routerLink="/feed"><img [src]="global.logo" alt="Logo Visity" class="logo"/></a>
    <span class="brand-name">Visity</span>
  </div>

  <div class="right-section" *ngIf="currentUserName">
    <a [routerLink]="['/profile', currentUserName]" class="profile-link">
      <div class="user-info">
        <p class="welcome">Bienvenido, <strong>{{currentUserName}}</strong></p>
        <img [src]="currentUserProfilePic" alt="Foto de perfil" class="profile-pic"/>
      </div>
    </a>
    <button (click)="logout()" class="logout-btn">Cerrar Sesión</button>
  </div>
</header>