<app-header></app-header>

<div class="feed-layout" [class.blurred]="showCreatePostButton">
  <!-- IZQUIERDA -->
  <div class="left-column">
    <app-user-search (followingChanged)="refreshFeed()"></app-user-search>
    <app-suggested-users (followingChanged)="refreshFeed()"></app-suggested-users>

    <div class="create-post-button-inside">
      <button (click)="showCreatePostButton = true">➕ Crear Post</button>
    </div>
  </div>

  <!-- CENTRO -->
  <div class="feed-column">
    <ng-container *ngIf="isColdStart && filteredPosts.length > 0">
      <span class="coldstart-text">✨ Te mostramos posts populares según tu tipo de viaje preferido.</span>
    </ng-container>

    <ng-container *ngIf="filteredPosts.length > 0">
      <app-post *ngFor="let post of filteredPosts" [post]="post" (liked)="onPostLiked()" (deleted)="onPostDeleted(post.id!)"></app-post>
    </ng-container>
  </div>

  <!-- DERECHA -->
  <div class="right-column">
    <app-post-filter (filtersChanged)="applyFilters($event)"></app-post-filter>
  </div>
</div>

<!-- MODAL CREADOR DE POST -->
<div class="overlay-backdrop" *ngIf="showCreatePostButton" (click)="closeCreatePost()"></div>

<div class="create-post-modal" *ngIf="showCreatePostButton">
  <app-create-post (onPostCreated)="onPostCreated()" (close)="closeCreatePost()"></app-create-post>
</div>