<div class="post-card">
  <div class="post-header">
    <img class="profile-pic" [src]="authorProfilePicture" alt="Foto de perfil"/>
    <span class="author-id">{{ authorUsername }}</span>
    <small class="post-date">{{ postTimeAgo }}</small>
  </div>

  <div class="carousel" *ngIf="post.imageURLs?.length">
    <button class="prev-btn" *ngIf="post.imageURLs.length >= 2" (click)="prevImage()" [disabled]="currentImageIndex === 0">‹</button>

    <img class="carousel-image" [src]="post.imageURLs[currentImageIndex]" alt="Imagen del post" />

    <button class="next-btn" *ngIf="post.imageURLs.length >= 2" (click)="nextImage()" [disabled]="currentImageIndex === post.imageURLs.length - 1">›</button>

    <div class="carousel-indicators" *ngIf="post.imageURLs.length >= 2">
      <span 
        *ngFor="let img of post.imageURLs; let i = index"
        [class.active]="i === currentImageIndex"
        (click)="currentImageIndex = i"></span>
    </div>
  </div>

  <div class="post-content">
    <p>{{ post.content }}</p>
    <div class="tags">
      <div class="tag-group">
        <strong>Tipo de viaje:</strong>
        <span *ngFor="let t of post.travelType" class="tag pill travel">{{ t }}</span>
      </div>

      <div class="tag-group">
        <strong>Presupuesto:</strong>
        <span class="tag pill budget">{{ post.budget }}</span>
      </div>

      <div class="tag-group">
        <strong>Clima:</strong>
        <span class="tag pill weather">{{ post.weather }}</span>
      </div>
    </div>

    <p *ngIf="googleMapsUrl">
      <a [href]="googleMapsUrl" target="_blank">Ver en Google Maps</a>
    </p>
    
    <div class="interactions">
      <button class="like-btn" (click)="toggleLike()">
        <span *ngIf="!hasLiked">🤍</span>
        <span *ngIf="hasLiked">❤️</span>
        {{ post.likes }}
      </button>
      <span class="comment-count">💬 {{ comments.length }}</span>
    </div>



    <div class="comments">
      <div class="comment" *ngFor="let c of comments">
        <strong>{{ authorNames[c.authorId] || '...' }}</strong>: {{ c.content }}
      </div>

      <div class="add-comment">
        <input [(ngModel)]="commentText" placeholder="Añadir comentario..." />
        <button (click)="addComment()">Enviar</button>
      </div>
    </div>


</div>